.main-btn {
    padding: 15px 20px;
    color: white;
    background: linear-gradient(176deg, $colour-secondary, $colour-primary);
    border-radius: 30px;
    font-size: 16px;
    border: none;
    box-shadow: -1px 5px 10px rgb(0 0 0 / 20%);
}