$num-menus: 10;
$anim-duration: 1000ms;
$anim-delay: $anim-duration / $num-menus;

.card-menu {
    background-color: white;
    padding: 14px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
    flex: 1 100%;
    line-height: 24px;
    animation: menu $anim-duration 150ms;
    transform-origin: top;
    @for $i from 1 through $num-menus {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }

    span {
        font-weight: 700;
    }
}

@keyframes menu {
    from {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1);
    }
}