.card-menu {
    background-color: white;
    padding: 14px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
    flex: 1 100%;
    line-height: 24px;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        font-weight: 300;
        font-size: 18px;
    }

    span {
        font-weight: 700;
    }
}