$num-menus: 10;
$anim-duration: 1500ms;
$anim-delay: $anim-duration / $num-menus;

.card-menu {
    position: relative;
    border-radius: 16px;
    box-shadow: map-get($box-shadow, card);
    cursor: pointer;
    flex: 1 100%;
    line-height: 24px;
    display: flex;
    opacity: 0;
    overflow: hidden;
    animation: loading-menus $anim-duration linear both;
    @for $i from 1 through $num-menus {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }
    }
    &__info {
        background-color: white;
        padding: 12px 0 12px 12px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    &__price {
        font-weight: 700;
        padding: 0 18px 12px 0;
        margin-left: 8px;
    }
    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colour-tertiary;
        border-radius: 0 16px 16px 0;
        color: $white;
        font-size: 24px;
        width: 0px;
        transition: 200ms ease-in-out;
        }
    &:hover {
        & > .card-menu__check {
            width: 100px;
            & > .fa-check-circle {
                animation: check-rotation 300ms linear;
            }
        }
    }
}

.card-description {
    display: flex;
    justify-content: space-between;
    & > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card-title > h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-------------keyframes----------------*/

@keyframes check-rotation {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes loading-menus {
    0% {
      transform: translateY(16px);
      opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
