.btn-heart {
    cursor: pointer;
}

.btn-heart .far {
    font-size: 24px;
    color: $black;
}

.btn-heart .fas {
    color: transparent;
    font-size: 20px;
}

.btn-heart:hover {
    .fas {
        animation: full-heart 900ms linear forwards;
        transform-origin: 60% bottom;
    }
    .far {
        animation: empty-heart 400ms linear forwards;
        animation-delay: 700ms;
    }
}

@keyframes full-heart {
    0% {
        transform: scale(0);
    }
    17% {
        transform: scale(.18);
    }
    24% {
        transform: scale(.4);
    }
    46% {
        transform: scale(.6);
    } 
    60% {
        transform: scale(.81);
        font-size: 22px;
    }
    100% {
        transform: scale(1);
        background: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
    }
}

@keyframes empty-heart {
    0% {
        color: $black;
    }
    100% {
        color: transparent;
    }
}
