.btn-heart {
    cursor: pointer;
    .far {
        font-size: 24px;
        color: $black; 
        z-index: 1;
    }
    .fas {
        color: transparent;
        font-size: 18px; 
    }
}

.btn-heart:hover {
    .fas {
        animation: full-heart 900ms linear forwards;
        transform-origin: 50% bottom;
    }
    .far {
        animation: empty-heart 400ms linear forwards;
        animation-delay: 700ms;
    }
}

/*-------------keyframes----------------*/

@keyframes full-heart {
    0% {
        transform: scale(0);
    }
    17% {
        transform: scale(.18);
    }
    24% {
        transform: scale(.4);
    }
    46% {
        transform: scale(.6);
    } 
    60% {
        transform: scale(.81);
        font-size: 22px;
    }
    100% {
        transform: scale(1);
        background: linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        font-size: 24px;
    }
}

@keyframes empty-heart {
    0% {
    
    }
    100% {
        color: transparent;
        z-index: -1;
    }
}
