.btn-heart .far {
    font-size: 28px;
    color: $colour-primary;
    z-index: 1;
}

.btn-heart .fas {
    color: white;
    font-size: 28px;
}

.btn-heart:hover .fas {
    animation: heart 800ms ease-in-out;
    transform-origin: 50% bottom;
    animation-fill-mode: forwards;
}

@keyframes heart {
    0% {
        transform: scale(0);
    }
    17% {
        transform: scale(.18);
    }
    24% {
        transform: scale(.4);
    }
    46% {
        transform: scale(.6);
    } 
    60% {
        transform: scale(.81);
    }
    100% {
        transform: scale(1);
        color: $colour-primary;
    }
}

