.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(176deg, $colour-secondary, $colour-primary);
    z-index: 2;
    animation: loader 3s linear forwards;
}

.loader-ring
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 170px;
  height: 170px;
  background: transparent;
  border: 3px solid $colour-secondary;
  border-radius: 50%;
  font-size: 24px;
  color: $black;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  font-family: map-get($font-family, logo);
  &:before {
    content:'';
    position:absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid $colour-primary;
    border-right: 3px solid $colour-primary;
    border-radius: 50%;
    animation: circle 2s linear infinite;
  }
}

/*-------------keyframes----------------*/

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}
