#how-it-works {
    background-color: white;
}
.step-cards {
    margin-left: 12px;
    margin-top: 24px;
    @include tablet-only {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        margin-top: 40px;
        margin-left: 0;
    }
}