.img-menu {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    @include desktop-only {
        max-height: 550px;
        object-position: 0 62%;
    }
}

.main {
    position: relative;
    margin: -60px 0 0 0;
    @include desktop-only {
        margin: 0;
    }
    img {
        width: 100%;
        object-fit: cover;
        max-height: 280px;
        @include desktop-only {
            max-height: 500px;
        }
    }
}

.menu {
    padding: 24px 18px;
    background-color: $lightgrey;
    border-radius: 32px 32px 0 0;
    @include desktop-only {
        padding: 24px 280px;
    }

    &__top {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        background-color: #f5f5f5;
        padding-bottom: 12px;
        padding-right: 24px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        margin: 20px 0 40px 0;
    }

    .far {
        font-size: 24px;
    }

    hr {
        color: $colour-tertiary;
        background-color: $colour-tertiary;
        border: 1.5px solid;
        width: 36px;
        margin-inline: initial;
        margin: 0;
    }

    .order {
        text-align: center;
        margin: 54px 0;
    }

    .main-btn {
        padding: 15px 50px;
    }
}