$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;

$lightgrey: #d3d3d369;
$grey: #cfcece61;
$darkgrey: #2e2c2ceb;

$font-size: (logo-big:32px, heading:24px);
$font-family: (text: ('Roboto', sans-serif), logo: ('Shrikhand', cursive));